<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
 	<typeAliases>
		<typeAlias type="com.dev.member.dto.MemberDto" alias="memberDto"/>
		<typeAlias type="com.dev.movie.dto.MovieDto" alias="movieDto"/>
		<typeAlias type="com.dev.board.dto.BoardDto" alias="boardDto"/>
		<typeAlias type="com.dev.board.dto.CommentDto" alias="commentDto"/>
		<typeAlias type="com.dev.order.dto.OrderDto" alias="orderDto"/>
	</typeAliases>
</configuration>